In [104]:
#Load library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
#Read file
receipts = pd.read_json('receipts.json', lines=True)

In [71]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [72]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [196]:
#Check missing value
receipts.isna().sum()/len(receipts)

_id                        0.000000
bonusPointsEarned          0.513852
bonusPointsEarnedReason    0.513852
createDate                 0.000000
dateScanned                0.000000
finishedDate               0.492404
modifyDate                 0.000000
pointsAwardedDate          0.520107
pointsEarned               0.455764
purchaseDate               0.400357
purchasedItemCount         0.432529
rewardsReceiptItemList     0.393208
rewardsReceiptStatus       0.000000
totalSpent                 0.388740
userId                     0.000000
dtype: float64

In [76]:
#Deal woth data format/type issue
#id(dict -> string)
new_id = []
id_list = receipts['_id'].tolist()
for i in id_list:
    new_id.append(i['$oid'])
    
receipts['_id'] = new_id 
receipts['_id'] = receipts['_id'].astype('string')

In [194]:
#Date(object to datetime)
for col in ['createDate','dateScanned','finishedDate','modifyDate','pointsAwardedDate','purchaseDate']:
    datetemp=[]
    temp = receipts[col].tolist()
    for row in temp:
        if type(row) != float:
            datetemp.append(pd.to_datetime(row['$date']))
        else:
            datetemp.append('')
    receipts[col]=datetemp

In [195]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   string
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   datetime64[ns]
 4   dateScanned              1119 non-null   datetime64[ns]
 5   finishedDate             568 non-null    datetime64[ns]
 6   modifyDate               1119 non-null   datetime64[ns]
 7   pointsAwardedDate        537 non-null    datetime64[ns]
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    datetime64[ns]
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: datetime64[ns](6), float64(4), object(4), string(1)
memory usage: 131.3+ KB

In [203]:
#rewardsReceiptItemList(dict -> new dataframe)
#Create a single table for receipt items becasue it will be too messy for the receipt table if we read the value(dict) in the 'rewardsReceiptItemList'.
receiptItem = pd.DataFrame()
for row in range(len(receipts['rewardsReceiptItemList'])):
    items = receipts['rewardsReceiptItemList'][row]
    receipt_id = pd.DataFrame({'receipt_id':receipts['_id'][row]},index=[0])
    if type(items) != float:
        for i in items:
            temp = receipt_id.join(pd.DataFrame.from_dict(i, orient='index').transpose())
            receiptItem = pd.concat([receiptItem, temp])
            
receiptItem.reset_index(drop = True, inplace=True)
receiptItem.head()

,receipt_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1,028400642255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4,4011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
#Drop rewardsReceiptItemList in receipts table to see whether there is any duplicate value.
receipts_without_item = receipts.drop('rewardsReceiptItemList', axis=1)
receipts_without_item.duplicated().sum()

0

In [205]:
receiptItem.duplicated().sum()

0

In [217]:
#Ckeck missing value
receiptItem.isna().sum()/len(receiptItem)

receipt_id                            0.000000
barcode                               0.554819
description                           0.054891
finalPrice                            0.025068
itemPrice                             0.025068
needsFetchReview                      0.882870
partnerItemId                         0.000000
preventTargetGapPoints                0.948422
quantityPurchased                     0.025068
userFlaggedBarcode                    0.951448
userFlaggedNewItem                    0.953465
userFlaggedPrice                      0.956923
userFlaggedQuantity                   0.956923
needsFetchReviewReason                0.968448
pointsNotAwardedReason                0.951016
pointsPayerId                         0.817461
rewardsGroup                          0.750612
rewardsProductPartnerId               0.673102
userFlaggedDescription                0.970465
originalMetaBriteBarcode              0.989771
originalMetaBriteDescription          0.998559
brandCode                             0.625414
competitorRewardsGroup                0.960380
discountedItemPrice                   0.168852
originalReceiptItemText               0.170148
itemNumber                            0.977957
originalMetaBriteQuantityPurchased    0.997839
pointsEarned                          0.866446
targetPrice                           0.945541
competitiveProduct                    0.907074
originalFinalPrice                    0.998703
originalMetaBriteItemPrice            0.998703
deleted                               0.998703
priceAfterCoupon                      0.862268
metabriteCampaignId                   0.875666
dtype: float64

In [218]:
#Check imbalance
receipts['rewardsReceiptStatus'].value_counts()

FINISHED     518
SUBMITTED    434
REJECTED      71
PENDING       50
FLAGGED       46
Name: rewardsReceiptStatus, dtype: int64

Data Quality Issues:
1. Wrong data type issue.
2. Lots of missing value in both receipts and receiptsItem dataset.
3. Aware of imbalance in 'rewardsReceiptStatus' if we want to do more analysis or build models.